In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, StandardScaler

Langkah Pertama
Mengimport library yang digunakan sesuai perintah dan mengimport dataset

In [3]:
df =pd.read_csv('music_genre.csv')
df.head()

,instance_id,artist_name,track_name,popularity,acousticness,danceability,duration_ms,energy,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,obtained_date,valence,music_genre
0,32894.0,Röyksopp,Röyksopp's Night Out,27.0,0.00468,0.652,-1.0,0.941,0.79200,A#,0.115,-5.201,Minor,0.0748,100.889,4-Apr,0.759,Electronic
1,46652.0,Thievery Corporation,The Shining Path,31.0,0.01270,0.622,218293.0,0.890,0.95000,D,0.124,-7.043,Minor,0.0300,115.00200000000001,4-Apr,0.531,Electronic
2,30097.0,Dillon Francis,Hurricane,28.0,0.00306,0.620,215613.0,0.755,0.01180,G#,0.534,-4.617,Major,0.0345,127.994,4-Apr,0.333,Electronic
3,62177.0,Dubloadz,Nitro,34.0,0.02540,0.774,166875.0,0.700,0.00253,C#,0.157,-4.498,Major,0.2390,128.014,4-Apr,0.270,Electronic
4,24907.0,What So Not,Divide & Conquer,32.0,0.00465,0.638,222369.0,0.587,0.90900,F#,0.157,-6.266,Major,0.0413,145.036,4-Apr,0.323,Electronic

Langkah Kedua
Menampilkan bentuk dari dataset

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50005 entries, 0 to 50004
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   instance_id       50000 non-null  float64
 1   artist_name       50000 non-null  object
 2   track_name        50000 non-null  object
 3   popularity        50000 non-null  float64
 4   acousticness      50000 non-null  float64
 5   danceability      50000 non-null  float64
 6   duration_ms       50000 non-null  float64
 7   energy            50000 non-null  float64
 8   instrumentalness  50000 non-null  float64
 9   key               50000 non-null  object
 10  liveness          50000 non-null  float64
 11  loudness          50000 non-null  float64
 12  mode              50000 non-null  object
 13  speechiness       50000 non-null  float64
 14  tempo             50000 non-null  object
 15  obtained_date     50000 non-null  object
 16  valence           50000 non-null  float64
 17  music_genre       50000 non-null  object
dtypes: float64(11), object(7)
memory usage: 6.9+ MB

Langkah Ketiga
Bagi dataset menjadi 2 data, data training dan data testing dengan proporsi 70:30

In [6]:
x =df.drop('music_genre', axis=1)
y=df['music_genre']
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)

Langkah Keempat
Menormalisasi data pada salah satu kolom dan copy data set terlebih dahulu

In [9]:
df_2 = df.copy()

scale =MinMaxScaler()
scaledData= scale.fit_transform(df_2[['instance_id']])
df_2['artist_name'] = scaledData

print('kolom instance_id sebelum Normalisasi')
print(df['instance_id'].describe())
print('\n')
print('\n')
print('kolom instance_id setelah Normalisasi')
print(df_2['instance_id'].describe())

kolom instance_id sebelum Normalisasi
count    50000.000000
mean     55888.396360
std      20725.256253
min      20002.000000
25%      37973.500000
50%      55913.500000
75%      73863.250000
max      91759.000000
Name: instance_id, dtype: float64




kolom instance_id setelah Normalisasi
count    50000.000000
mean     55888.396360
std      20725.256253
min      20002.000000
25%      37973.500000
50%      55913.500000
75%      73863.250000
max      91759.000000
Name: instance_id, dtype: float64

Langkah Kelima
Standarisasi pada data set dan copy data set terlebih dahulu

In [10]:
df_3 =df.copy()

scaler = StandardScaler()
scaledData = scaler.fit_transform(df_3[['instance_id']])
df_3['instance_id'] = scaledData

print('Standar deviasi pada kolom instance_id sebelum di standarisasi')
print(np.std(df['instance_id']))
print('\n')
print('\n')
print('Standar deviasi pada kolom instance_id setelah di standarisasi')
print(np.std(df_3['instance_id']))

Standar deviasi pada kolom instance_id sebelum di standarisasi
20725.04899927956




Standar deviasi pada kolom instance_id setelah di standarisasi
1.0

Langkah Keenam
Menampilkan untuk melihat data set

In [11]:
df.isna().sum()

instance_id         5
artist_name         5
track_name          5
popularity          5
acousticness        5
danceability        5
duration_ms         5
energy              5
instrumentalness    5
key                 5
liveness            5
loudness            5
mode                5
speechiness         5
tempo               5
obtained_date       5
valence             5
music_genre         5
dtype: int64

Langkah Ketujuh
Data cleaning pada data dengan nilai null (jika tidak ada nilai null pada dataset, maka buatlah menjadi ada). Ganti nilai null sesuai ketentuan. (bilangan bulat : median/modus, bilangan desimal : mean, tulisan : modus), dan untuk itu di sini hanya mempunyai 2 tipe data yaitu float dan object.

In [17]:
df_4= df.copy()
df_4['instance_id'].fillna(df_4['instance_id'].mean(),inplace=True)
df_4['artist_name'].fillna(df_4['artist_name'].mode()[0],inplace=True)
df_4['track_name'].fillna(df_4['track_name'].mode()[0],inplace=True)
df_4['popularity'].fillna(df_4['popularity'].mean(),inplace=True)
df_4['acousticness'].fillna(df_4['acousticness'].mean(),inplace=True)
df_4['danceability'].fillna(df_4['danceability'].mean(),inplace=True)
df_4['duration_ms'].fillna(df_4['duration_ms'].mean(),inplace=True)
df_4['energy'].fillna(df_4['energy'].mean(),inplace=True)
df_4['instrumentalness'].fillna(df_4['instrumentalness'].mean(),inplace=True)
df_4['key'].fillna(df_4['key'].mode()[0],inplace=True)
df_4['liveness'].fillna(df_4['liveness'].mean(),inplace=True)
df_4['loudness'].fillna(df_4['loudness'].mean(),inplace=True)
df_4['mode'].fillna(df_4['mode'].mode()[0],inplace=True)
df_4['speechiness'].fillna(df_4['speechiness'].mean(),inplace=True)
df_4['tempo'].fillna(df_4['tempo'].mode()[0],inplace=True)
df_4['obtained_date'].fillna(df_4['obtained_date'].mode()[0],inplace=True)
df_4['valence'].fillna(df_4['valence'].mean(),inplace=True)
df_4['music_genre'].fillna(df_4['music_genre'].mode()[0],inplace=True)

Langkah Kedelepan
Menampilkan dataset yang sudah diganti

In [18]:
df_4.isna().sum()

instance_id         0
artist_name         0
track_name          0
popularity          0
acousticness        0
danceability        0
duration_ms         0
energy              0
instrumentalness    0
key                 0
liveness            0
loudness            0
mode                0
speechiness         0
tempo               0
obtained_date       0
valence             0
music_genre         0
dtype: int64

Langkah Kedelapan
Menghapus data duplikat, karena data tidak ada yang terduplikat maka disini akan membuat sendiri dengan perintah iloc dan dibagian jumlah datanya bebas.(data copy 4)

In [19]:
df_4.iloc[5021, :]=df_4.iloc[5022, :]
df_4.duplicated().sum()

5

In [20]:
duplicates = df_4.duplicated()
print(df_4[duplicates])
# Print the duplicate rows

       instance_id   artist_name     track_name  popularity  acousticness  \
5022   24114.00000  Hikaru Utada  HEART STATION    40.00000      0.223000
10001  55888.39636   empty_field           Home    44.22042      0.306383
10002  55888.39636   empty_field           Home    44.22042      0.306383
10003  55888.39636   empty_field           Home    44.22042      0.306383
10004  55888.39636   empty_field           Home    44.22042      0.306383

       danceability   duration_ms    energy  instrumentalness key  liveness  \
5022       0.702000  276573.00000  0.776000          0.000002  C#  0.147000
10001      0.558241  221252.60286  0.599755          0.181601   G  0.193896
10002      0.558241  221252.60286  0.599755          0.181601   G  0.193896
10003      0.558241  221252.60286  0.599755          0.181601   G  0.193896
10004      0.558241  221252.60286  0.599755          0.181601   G  0.193896

       loudness   mode  speechiness               tempo obtained_date  \
5022  -3.964000  Minor     0.029400  105.00200000000001         4-Apr
10001 -9.133761  Major     0.093586                   ?         4-Apr
10002 -9.133761  Major     0.093586                   ?         4-Apr
10003 -9.133761  Major     0.093586                   ?         4-Apr
10004 -9.133761  Major     0.093586                   ?         4-Apr

        valence  music_genre
5022   0.368000        Anime
10001  0.456264  Alternative
10002  0.456264  Alternative
10003  0.456264  Alternative
10004  0.456264  Alternative

Langkah Kesepuluh
Menghapus dan menampilkan

In [21]:
df_4.drop_duplicates(inplace=True)
df.duplicated().sum()

4

In [22]:
duplicates = df_4.duplicated()
print(df_4[duplicates])

Empty DataFrame
Columns: [instance_id, artist_name, track_name, popularity, acousticness, danceability, duration_ms, energy, instrumentalness, key, liveness, loudness, mode, speechiness, tempo, obtained_date, valence, music_genre]
Index: []

Langkah Kesebelas
mengganti tipe data salah satu attribute angka MinTemp diganti dari float64 menjadi int64

In [23]:
print(f"{df_4['instance_id'].dtypes}")

float64

In [24]:
df_4['instance_id']= df_4['instance_id'].astype('int64')
print(f"{df_4['instance_id'].dtypes}")

int64

Langkah Keduabelas
One-hot Encoding pada attribute yang nilai didalamnya lebih dari 2

In [25]:
one_enc=pd.get_dummies(df[['artist_name']])
df_5= df.join(one_enc.astype('int64'))
df_5.drop('artist_name', axis=1, inplace=True)

In [26]:
df_5.head()

,instance_id,track_name,popularity,acousticness,danceability,duration_ms,energy,instrumentalness,key,liveness,...,artist_name_夏代孝明,artist_name_大原ゆい子,artist_name_川田まみ,artist_name_彩音,artist_name_春音あいら(CV.阿澄佳奈),artist_name_棗坂シキ(CV.平川大輔),artist_name_楚神ウリエ(CV.近藤隆),artist_name_立華リツカ(CV.茜屋日海夏),artist_name_鉤貫レム(CV.斉藤壮馬),artist_name_黒崎真音
0,32894.0,Röyksopp's Night Out,27.0,0.00468,0.652,-1.0,0.941,0.79200,A#,0.115,...,0,0,0,0,0,0,0,0,0,0
1,46652.0,The Shining Path,31.0,0.01270,0.622,218293.0,0.890,0.95000,D,0.124,...,0,0,0,0,0,0,0,0,0,0
2,30097.0,Hurricane,28.0,0.00306,0.620,215613.0,0.755,0.01180,G#,0.534,...,0,0,0,0,0,0,0,0,0,0
3,62177.0,Nitro,34.0,0.02540,0.774,166875.0,0.700,0.00253,C#,0.157,...,0,0,0,0,0,0,0,0,0,0
4,24907.0,Divide & Conquer,32.0,0.00465,0.638,222369.0,0.587,0.90900,F#,0.157,...,0,0,0,0,0,0,0,0,0,0